* {
  --bsg-color: #cf773b;
  --slide-color: #914e21;
  --text-color: white;
  --bg-start: #303030;
  --bg-end: #212121;

  --dash-left-width: 194px;
}

.MBNoPadding .Slide {
  padding: 0px !important;
  padding-bottom: 10px !important;
}

.PlayerAudioLive {
  background: url("./bsg/audio-on.png") no-repeat 0 38% !important;
}

.bsglayout {
  background-repeat: no-repeat;
}

.TimerParent {
  background: url('./bsg/timer_grid.png');
}

#Intermission{
  background-image: url('./bsg/intermission.png');
}

.textOrangeShadow {
  text-shadow: 5px 5px 0px var(--bsg-color), 5px 7px 3px rgba(0, 0, 0, 0.5);
}

/*#Countdown #Background,
#Intermission #Background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./bsg/dorito.png');
  !*background: red;*!
}*/

.countdownLayout {
  background-image: url('./bsg/countdown.png');
}

._3ds_1p {
  background-image: url("./bsg/gamelayout/3ds-1p.png");
}

._3ds_1p_vertical {
  background-image: url("./bsg/gamelayout/3ds-1p-vertical.png");
}

._3ds_2p {
  background-image: url("./bsg/gamelayout/3ds-2p.png");
}

._4x3_1p {
  background-image: url("./bsg/gamelayout/4x3-1p.png");
}

._4x3_1p_largecam {
  background-image: url("./bsg/gamelayout/4x3-1p-largecam.png");
}

._4x3_2p {
  background-image: url("./bsg/gamelayout/4x3-2p.png");
}

._4x3_3p {
  background-image: url("./bsg/gamelayout/4x3-3p.png");
}

._16x9_1p {
  background-image: url("./bsg/gamelayout/16x9-1p.png");
}

._16x9_1p_largecam {
  background-image: url("./bsg/gamelayout/16x9-1p-largecam.png");
}

._16x9_2p {
  background-image: url("./bsg/gamelayout/16x9-2p.png");
}

._16x9_2p_connected {
  background-image: url("./bsg/gamelayout/16x9-2p-connected.png");
}

._16x9_3p {
  background-image: url("./bsg/gamelayout/16x9-3p.png");
}

._ds_1p {
  background-image: url("./bsg/gamelayout/ds-1p.png");
}

._ds_1p_vertical {
  background-image: url("./bsg/gamelayout/ds-1p-vertical.png");
}

._ds_2p {
  background-image: url("./bsg/gamelayout/ds-2p.png");
}

._gb_1p {
  background-image: url("./bsg/gamelayout/gb-1p.png");
}

._gb_2p {
  background-image: url("./bsg/gamelayout/gb-2p.png");
}

._gba_1p {
  background-image: url("./bsg/gamelayout/gba-1p.png");
}

._gba_2p {
  background-image: url("./bsg/gamelayout/gba-2p.png");
}
