body {
  color: #d7d7d7;
}

#Background {
  background-color: #19171c;
  display:none;
}

*[class*='Border'] {
  border-color: #41245b;
}

.TimerStopped, .TimerPaused {
  color: #4B5267;
}
.TimerRunning {
  color: #d7d7d7;
  font-family: "Goodlight";
}
.TimerFinished {
color: #AAFAC8;
}
.TimerForfeit {
color: red;
}

#GameLayout .RunInfoExtra {
  color: #d7d7d7;
align-items: left;
}

.Player {
  color: #d7d7d7;
  /*background-color: #41245b;*/
}

.Player .Pronouns,
.DonationReader .Pronouns,
.CommAndReader .Pronouns {
  font-weight: 400;
  font-size: 0.8em;
  color: #d7d7d7;
  text-transform: uppercase;
  background-color: #914e21;
    border-radius: 15px;
justify-content: center;
  align-items: center;
}

.CommAndReader .Pronouns {
  background-color: #4b3163;
}

.Player .Icon {
  filter: invert(1);
}

.Player .Flag {
 border-color: #d7d7d7;
}

.GameCapture {
  color: white;
}

.GameCapture .TeamFinishTime {
  background-color: rgba(65, 36, 91, 0.5);
}

.CommAndReader {
  background-color: #rgba(64,36,91,0.5);
  color: white;
}

.DonationBar {
  background-color: rgba(0, 0, 0, 0.15);
}

*[class*='DonationBox'] {
  background-color: #301b4c;
  color: #f1d13f;
  font-weight: 500;
  font-size: 1em;
}

.DonationBoxTier1-1 {
  background-color: #301b4c;
}
.DonationBoxTier1-2 {
  background-color: #281643;
}
.DonationBoxTier1-3 {
  background-color: #502f59;
}

*[class*='DonationBoxTier2'] {
  color: #604054;
  font-weight: 600;
}
.DonationBoxTier2-1 {
  background-color: #f1d13f;
}
.DonationBoxTier2-2 {
  background-color: #fbd93f;
}
.DonationBoxTier2-3 {
  background-color: #e1c43c;
}

.DonationBoxTier3 {
  background-color: #efbe00;
  color: #604054;
  font-weight: 700;
  font-size: 1.1em;
}

#Intermission .Logo > img {
  content: url('./default/IntermissionLogo.png');
}

#Intermission .DonationReader .Mic,
#Intermission .MusicTrack .MCat {
  /* background-color: #41245b; */
}

#Intermission .Header {
  /* background-color: #41245b; */
  color: #914e21;
font-family: "Goodlight";
}
#Intermission .Header:first-of-type {
/* background-color: #41245b; */
  color: #cf773b;
}
#Intermission .BottomBox,
#Intermission .Content {
  /* background-color: rgba(0, 0, 0, 0.3); */
  	  text-align: left;
}

#Omnibar {
  background: linear-gradient(0deg, rgba(56,31,78,1) 0%, rgba(92,50,130,1) 100%);
}

#Omnibar #Logo {
  content: url('./default/OmnibarLogo.png');
  /* padding: 0 10px; */
}

#Omnibar .Divider {
  background-color: #fff073;
}

.pronouns {
  font-size: 60%;
  /* background-color: rgba(145, 78, 33, 0.4); */
  background-color: rgba(207, 119, 59, 0.4);
  border-radius: 15px;

}

 /* .BlockRed {
  background-color: red;
} */
/* .BlockBlue {
  background-color: blue;
} */
/* .BlockGreen {
  background-color: green;
} */
/* .BlockYellow {
  background-color: yellow;
} */
/* .BlockPurple {
  background-color: purple;
} */
/* .BlockBlack {
  background-color: black;
}  */
