/* Integrate this into the main "common.css" when rewrite done. */

@import '../_misc/fonts/goodlightotf.css';
body {
  background-image: url(../bsgbacks/break_bg_edited.png);
  background-repeat: no-repeat;
  font-family: 'Goodlight-light', sans-serif;
  overflow: hidden;
  margin: 0;
  font-weight: 600;
  text-align: left;
  padding: 0;
}

#Background, #Layout {
  width: 1920px;
  height: 1080px;
  position: fixed;
}

*[class*="Flex"] {
  /* display: flex; */
  align-items: left;
  /* justify-content: center; */
}
*[class*="FlexI"] {
  display: flex;
  align-items: left;
  justify-content: center;
}
.FlexColumn {
  flex-direction: column;
}

.Fixed {
  position: fixed;
  overflow: hidden;
}
