
.CustomText[data-v-36ecb161] * {
  margin: 0;
}


.Slide[data-v-7b12b6af] {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fade-enter-active[data-v-7b12b6af], .fade-leave-active[data-v-7b12b6af] {
  transition: opacity 1s;
}
.fade-enter[data-v-7b12b6af], .fade-leave-to[data-v-7b12b6af] {
  opacity: 0;
}

@font-face {
	font-family: 'Goodlight';
	src: url(../font/GoodlightRegular.woff2) format('woff2'),
	url(../font/GoodlightRegular.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Goodlight-light';
    src: url(../font/GoodlightLight.woff2) format('woff2'),
        url(../font/GoodlightLight.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bahnschrift';
  src: url(../font/BAHNSCHRIFT.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'pixelmix';
  src: url(../font/pixelmix.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'LiquidCrystal';
  src: url(../font/LiquidCrystal-Normal.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Corbel-Bold';
  src: url(../font/corbel-bold.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

/* @import url('../_misc/fonts/barlow-condensed.css'); */

 body {
  font-family: 'Bahnschrift', sans-serif;
  font-weight: 600;
  /*color: var(--font-colour);*/
  /* text-shadow: 2px 2px 2px black; */
  /*overflow: hidden;*/
  margin: 0;
  padding: 0;
}

#Background, #Layout {
  width: 1920px;
  height: 1080px;
  position: fixed;
}

*[class*='Border'] {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}
.BorderTop {
  border-top-width: 3px;
}
.BorderRight {
  border-right-width: 3px;
}
.BorderBottom {
  border-bottom-width: 3px;
}
.BorderLeft {
  border-left-width: 3px;
}

*[class*="Flex"] {
  display: flex;
  align-items: left;
  justify-content: left;
}

.FlexPlayer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.FlexRow {
  flex-direction: row;
}

.FlexColumn {
  flex-direction: column;
}

.Grid {
  display: grid;
}

.Grid > * {
  grid-area: 1 / 1 / 2 / 2;
}

.Fixed {
  position: fixed;
  overflow: hidden;
}

.Relative {
  position: relative;
}

.Capture {
  box-sizing: border-box;
  position: fixed;
  overflow: hidden;
}


.fade-enter-active[data-v-035ef64f], .fade-leave-active[data-v-035ef64f] {
  transition: opacity 1s;
}
.fade-enter[data-v-035ef64f], .fade-leave-to[data-v-035ef64f] {
  opacity: 0;
}
.TeamFinishTime[data-v-035ef64f] {
  height: 40px;
}
.itemContainer[data-v-035ef64f] {
  align-content: space-between;
  justify-content: space-between;
  width: 100%;
}


.Icon[data-v-7cb8bc3f] {
  height: 100%;
  position: absolute;
}
.TextWrapper[data-v-7cb8bc3f] {
  width: auto;
  height: 100%;
  position: absolute;
}
.PlayerText[data-v-7cb8bc3f] {
  height: 30px;
}
.Player .Pronouns[data-v-7cb8bc3f],
.Pronouns[data-v-7cb8bc3f] {
  display: inline;
  font-size: 12pt;
  height: 19px;
}
.PlayerAudioLive[data-v-7cb8bc3f] {
  position: absolute;
  left: 460px;
  /*margin-right: 10px;*/
}
.fade-enter-active[data-v-7cb8bc3f], .fade-leave-active[data-v-7cb8bc3f] {
  transition: opacity 1s;
}
.fade-enter[data-v-7cb8bc3f], .fade-leave-to[data-v-7cb8bc3f] {
  opacity: 0;
}

.Pronouns[data-v-f4c06a56]{position:relative;height:19px;margin-left:5px;margin-right:5px;font-size:12pt;padding:4px;background:var(--slide-color);color:var(--text-color);text-transform:uppercase;font-family:pixelmix}
.runInfoRoot[data-v-4747e823]{height:100%;width:100%;justify-content:center}.runDataContainer[data-v-4747e823]{box-sizing:border-box;padding:8px;justify-content:flex-start}.RunGameParent[data-v-4747e823]{flex:0 1 auto;width:100%;position:relative;display:block;height:auto;max-height:85%;white-space:unset !important;font-size:50pt;text-align:var(--prop-text-align);justify-content:var(--prop-justify-content);align-items:var(--prop-justify-content)}.RunGame[data-v-4747e823]{display:inline-flex;font-family:Goodlight;font-weight:600;margin-top:10px;position:relative;text-shadow:.1em .05em 0px var(--bsg-color),.1em .15em 3px rgba(0,0,0,.5)}.runInfoExtraContainer[data-v-4747e823]{flex:1 1 auto;width:100%;height:auto;font-size:20pt;align-items:baseline;text-align:var(--prop-text-align);justify-content:var(--prop-justify-content)}.system[data-v-4747e823]{text-transform:uppercase}.systemEst[data-v-4747e823]{margin-top:-6px;text-shadow:1px 2px 3px rgba(0,0,0,.5);display:inline-flex;font-family:Corbel-Bold}.catEstBlock[data-v-4747e823]{display:inline-flex;text-shadow:1px 2px 3px rgba(0,0,0,.5)}.RunInfoExtra[data-v-4747e823]{display:flex !important;justify-content:space-between;align-content:flex-start;margin-top:5px;font-size:1em;height:100%;width:99%;font-weight:300;font-family:Goodlight;text-align:var(--prop-text-align)}.RunInfoExtra>.catEstBlock>span[data-v-4747e823]:not(:last-child)::after{content:" | ";color:var(--text-color);display:inline-block;margin-left:15px;margin-right:15px}.RunInfoExtra>.systemEst>span[data-v-4747e823]:not(:last-child)::after{content:" | ";color:var(--bsg-color);display:inline-block;margin-left:15px;margin-right:15px}.categoryEst[data-v-4747e823]{text-transform:uppercase;color:var(--bsg-color);font-size:1rem;white-space:normal}
span[data-v-0ff3e46c]{font-variant-numeric:tabular-nums}

.flashingLightsWarning[data-v-403ec3fb] {
  background-color: red;
  box-sizing: border-box;
  padding: 7px;
  /*position: relative;*/
  color: white;
  line-height: 50px;

  width: 100%;

  font-size: 21pt;
  white-space: normal;
  font-family: Goodlight-light;
}

.media-box-box[data-v-3c9b9485]{box-sizing:border-box;position:relative;width:100%;justify-content:center}.right-line[data-v-3c9b9485]{align-self:center;box-sizing:border-box;position:relative;width:calc(100% - 14px);height:calc(100% - 12px)}.MBNoPadding[data-v-3c9b9485]{position:relative !important}

.donations-enter-active[data-v-6adf2293] {
  transition: all 1s;
}
.donations-enter[data-v-6adf2293], .donations-leave-to[data-v-6adf2293] {
  opacity: 0;
  transform: translateY(100%);
}
.donations-move[data-v-6adf2293] {
  transition: transform 1s;
}

