@font-face {
	font-family: 'Goodlight';
	src: url(../font/GoodlightRegular.woff2) format('woff2'),
	url(../font/GoodlightRegular.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Goodlight-light';
    src: url(../font/GoodlightLight.woff2) format('woff2'),
        url(../font/GoodlightLight.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bahnschrift';
  src: url(../font/BAHNSCHRIFT.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'pixelmix';
  src: url(../font/pixelmix.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'LiquidCrystal';
  src: url(../font/LiquidCrystal-Normal.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Corbel-Bold';
  src: url(../font/corbel-bold.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

/* @import url('../_misc/fonts/barlow-condensed.css'); */

 body {
  font-family: 'Bahnschrift', sans-serif;
  font-weight: 600;
  /*color: var(--font-colour);*/
  /* text-shadow: 2px 2px 2px black; */
  /*overflow: hidden;*/
  margin: 0;
  padding: 0;
}

#Background, #Layout {
  width: 1920px;
  height: 1080px;
  position: fixed;
}

*[class*='Border'] {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}
.BorderTop {
  border-top-width: 3px;
}
.BorderRight {
  border-right-width: 3px;
}
.BorderBottom {
  border-bottom-width: 3px;
}
.BorderLeft {
  border-left-width: 3px;
}

*[class*="Flex"] {
  display: flex;
  align-items: left;
  justify-content: left;
}

.FlexPlayer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.FlexRow {
  flex-direction: row;
}

.FlexColumn {
  flex-direction: column;
}

.Grid {
  display: grid;
}

.Grid > * {
  grid-area: 1 / 1 / 2 / 2;
}

.Fixed {
  position: fixed;
  overflow: hidden;
}

.Relative {
  position: relative;
}

.Capture {
  box-sizing: border-box;
  position: fixed;
  overflow: hidden;
}


.RunInfoExtra > span[data-v-3cea0dac]:not(:last-child)::after {
  content: ' /';
}

