
.CustomText[data-v-36ecb161] * {
  margin: 0;
}


.Slide[data-v-7b12b6af] {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fade-enter-active[data-v-7b12b6af], .fade-leave-active[data-v-7b12b6af] {
  transition: opacity 1s;
}
.fade-enter[data-v-7b12b6af], .fade-leave-to[data-v-7b12b6af] {
  opacity: 0;
}

@font-face {
	font-family: 'Goodlight';
	src: url(../font/GoodlightRegular.woff2) format('woff2'),
	url(../font/GoodlightRegular.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Goodlight-light';
    src: url(../font/GoodlightLight.woff2) format('woff2'),
        url(../font/GoodlightLight.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bahnschrift';
  src: url(../font/BAHNSCHRIFT.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'pixelmix';
  src: url(../font/pixelmix.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'LiquidCrystal';
  src: url(../font/LiquidCrystal-Normal.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Corbel-Bold';
  src: url(../font/corbel-bold.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

/* @import url('../_misc/fonts/barlow-condensed.css'); */

 body {
  font-family: 'Bahnschrift', sans-serif;
  font-weight: 600;
  /*color: var(--font-colour);*/
  /* text-shadow: 2px 2px 2px black; */
  /*overflow: hidden;*/
  margin: 0;
  padding: 0;
}

#Background, #Layout {
  width: 1920px;
  height: 1080px;
  position: fixed;
}

*[class*='Border'] {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}
.BorderTop {
  border-top-width: 3px;
}
.BorderRight {
  border-right-width: 3px;
}
.BorderBottom {
  border-bottom-width: 3px;
}
.BorderLeft {
  border-left-width: 3px;
}

*[class*="Flex"] {
  display: flex;
  align-items: left;
  justify-content: left;
}

.FlexPlayer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.FlexRow {
  flex-direction: row;
}

.FlexColumn {
  flex-direction: column;
}

.Grid {
  display: grid;
}

.Grid > * {
  grid-area: 1 / 1 / 2 / 2;
}

.Fixed {
  position: fixed;
  overflow: hidden;
}

.Relative {
  position: relative;
}

.Capture {
  box-sizing: border-box;
  position: fixed;
  overflow: hidden;
}


.RunInfoExtra > span[data-v-2206150d]:not(:last-child)::after {
  content: ' /';
}


.Content > *[data-v-615cdf95] {
  padding: 10px 0;
}


.Slide[data-v-abb29f34] {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fade-enter-active[data-v-abb29f34], .fade-leave-active[data-v-abb29f34] {
  transition: opacity 1s;
}
.fade-enter[data-v-abb29f34], .fade-leave-to[data-v-abb29f34] {
  opacity: 0;
}


.Pronouns[data-v-3a7e1a88] {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 25px !important;
  top: -0.1em;
  line-height: 1.5em;
  text-transform: uppercase;
  padding: 0 3px;
  margin-left: 3px;
}

#Total[data-v-34e12a2f]{padding:0 13px 0 0;font-size:60px;font-weight:500;text-align:left;float:right;color:#fff !important}#Total>span[data-v-34e12a2f]{padding-top:40px;display:inline-block;text-align:center;position:relative;color:#fff !important}#Total>span[data-v-34e12a2f]:not(.no-bg){background:var(--slide-color)}#Total span[data-v-34e12a2f]:first-of-type{padding-left:10px}#Total span[data-v-34e12a2f]:last-of-type{padding-right:10px}#Total>.Comma[data-v-34e12a2f]{display:inline-block;width:.22em;color:#fff !important;text-align:center}

#Intermission[data-v-60f933ee] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.musicContainer[data-v-60f933ee] {
  position: relative;
  width: 672px;
  height: 100px;
  left: 1110px;
  top: 950px;
  font-size: 20px;
  /*background: rgba(255, 255, 255, 0.5);*/
}

/*.music {
  position: absolute;
  font-size: 20px !important;
  top: 50px !important;
  left: 0;
  height: 60px;
}*/

